{% macro header() %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Без черги</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<body>

  <!-- NavBar for not registreted people -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a href="/admin/home" class="btn btn-primary" role="button">Профіль</a>
      <a href="/" class="btn btn-primary" role="button">Головна</a>
      <a href="/feedback" class="btn btn-primary" role="button">Відгук</a>
      <a href="#" class="btn btn-primary" role="button">Про розробників</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/registration"><span class="glyphicon glyphicon-user"></span>Реєстрація</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Вхід</a></li>
      </ul>
    </div>
  </nav>
{% endmacro%}

{% macro header_2() %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Без черги</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
<body>

  <!-- NavBar for not registreted people -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <a href="/admin/home" class="btn btn-primary" role="button">Профіль</a>
      <a href="/" class="btn btn-primary" role="button">Головна</a>
      <a href="/feedback" class="btn btn-primary" role="button">Відгук</a>
      <a href="#" class="btn btn-primary" role="button">Про розробників</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/home"><span class="glyphicon glyphicon-user"></span> Налаштування</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Вихід</a></li>
      </ul>
    </div>
  </nav>
{% endmacro%}

{% macro footer()%}
<footer>
        <div class="container">
            <div class="col-md-4" >
                <h3>Про нас</h3>
                <p>
                З використанням проекта "Без черги" ви перестанете тратити дорогоцінний час в чергах. Ви можете електронно стати в чергу, а система завчасно вас попередить.
            </p>
            <p>
                Всі права захищено © 2018 "Без Черги"
            </p>
            </div>
            
            <div class="col-md-4" >
                <h3>Контакти</h3>
                <ul>
                    <li>Номер : 123 - 456 - 789</li>
                    <li>Емейл : info@comapyn.com</li>
                    <li>Факс : 123 - 456 - 789</li>
                </ul>
                <p>
              З будь-яких питань звертайтесь за вказаними контактами.  
            </p>
                
        </div>
        <div class="col-md-4">
                <h3>Соціальні мережі </h3>
            <ul class="sm">
                    <li><a href="#" ><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a></li>
                    <li><a href="#" ><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-responsive" ></a></li>
                <li><a href="#" ><img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-responsive"  ></a></li>
            </ul> 
          </div>
        </div>
    </footer>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
    </html>
{% endmacro%}