<html>

<style>
             .container {
          flex: 1;
          margin-top: 24;
         }
         .child-node {
          flex: 1;
          justify-content: center;
          border-width: 2;
          border-style: solid;
          margin-bottom: 2;
          height: 60;
          background-color: #dce9ef;
          border-color: #91bbd1;
          padding: 5;
         }
         .backCard {
          margin-bottom: 8;
          height: 50;
         }
         .cardLabel {
          color: #00356a;
          font-size: 24;
         }
         a.cardLabel {
          text-decoration: none;
         }

</style>



{{employee.name}}

Window number {{employee.window}}

{% if state > 0 and client.name %}
Client {{client.name}}
{% endif %}

<div class='container'>

{% if state == 0 %}
    <div class='child-node'> <a class='cardLabel' href="/employee/next_client">Прийняти наступного клієнта</a> </div>
{% elif state == 1 %}
    <div class='child-node'> <a class='cardLabel' href="/employee/process_client?client_id={{client.id}}&cq_number={{cqn}}&qid={{qid}}">Зафіксувати початок роботи</a> </div>
    <div class='child-node'> <a class='cardLabel' href="/employee/skip_client?cq_number={{cqn}}&qid={{qid}}&client_id={{client.id}}">Клієнт не прийшов</a> </div>
{% elif state == 2 %}
    <div class='child-node'> <a class='cardLabel' href="/employee/done">Завершити роботу з клієнтом</a> </div>
{% endif %}

</div>

</html>
