{% from "_macros.html" import header %}
{% from "_macros.html" import footer %}

<!-- Header -->
{{header()}}
<!-- Home content -->
  <div class="media" style="margin-bottom: 5%; margin-top: 8%; margin-left: 10%">
      <div class="media-left" style="width: auto; height: auto;">
        <img style="width: 400px; height: 400px;" src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
      </div>
      <div class="media-body" style="padding-top: 50px; padding-left: 100px; padding-left: 20px; padding-right: 200px">
        <h4 class="media-heading" style="font-size: 50px; text-align: center; color: rgb(14, 14, 94)"><b>"Без черги"</b></h4>
        <p style="padding-top: 50px; padding-left: 50px; font-size: 20px; text-align: left; color: rgb(14, 14, 94)">
          Встановлюючи в свою організацію нашу систему ви даруєте своїм користувачам найдорожчий ресурс - <b>час</b>.
          <br/> <br/> Від тепер нікому не прийдеться стояти в довгих чергах. Натомість, люди можуть насолоджуватися проведеним часом з рідними та друзями.    
        </p>
        <br/>
        <a style="width: 80%;  margin-top: 10px; margin-left: 70px; margin-right: 120px;"  href="/registration" class="btn btn-success" role="button">Розпочати</a>
      </div>
    </div>

    <!-- Footer -->
  {{footer()}}