<html>
        <style>
             .container {
          flex: 1;
          margin-top: 24;
         }
         .child-node {
          flex: 1;
          justify-content: center;
          border-width: 2;
          border-style: solid;
          margin-bottom: 2;
          height: 60;
          background-color: #dce9ef;
          border-color: #91bbd1;
          padding: 5;
         }
         .backCard {
          margin-bottom: 8;
          height: 50;
         }
         .cardLabel {
          color: #00356a;
          font-size: 24;
         }
         a.cardLabel {
          text-decoration: none;
         }

        </style>

        <body>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

                {{body|safe}}
        </body>
</html>
